-#-@hide_nav =true
-title @word.title,nil,false
-meta :keywords,@word.keywords_hash[0,3].join(',')
%h1#name=@word.clean_name
=javascript_tag "replaceLink();"
%p=sprintf('<strong>%1$s网</strong>精选<strong>%1$s</strong>信息,产品排行,店铺推荐,买家评价.',@word.clean_name).html_safe

%h2 #{@word.clean_name}产品推荐
= render :partial => 'items/list',:locals=>{:items=>@items}

.row-fluid
  .widget.span4
    %h3 店铺推荐
    -if @items
      %ul.shops.words
        -@items.collect{|r| r.shop}.uniq.slice(0,20).each do |shop|
          %li{:class=>cycle('a','b')}
            =link_to shop.nick,shop_url(shop)
  -if @relates.present?
    .widget.span2
      %h4 相关搜索
      %ul
        -@relates.each do |r|
          %li=link_to r.clean_name,r.to_url
  -if @rands
    .widget.span6
      %h4 随机推荐
      %ul.words
        -@rands.each do |r|
          %li=link_to r.clean_name,r.to_url

.alert.alert-notice#word-notice
  %strong 提示
  以上为淘宝网#{@word.clean_name}买家评价、产品排行、店家排行，由#{@word.clean_name}导购网整理，若要查看更多淘宝网#{@word.clean_name}相关数据，请点击页面顶部链接进入#{@word.clean_name}天猫淘宝商城查看。

-content_for :footer do
  =link_to @word.clean_name,@word.to_url
  =@meta[:keywords]


-content_for :head do
  ="<script id=\"apjs\" type=\"text/javascript\" src=\"http://assets#{ENV["DOMAIN"]}/static/app.js\" data=\"#{CGI.escape @word.name}\"></script>".html_safe
