!!!
%html
  %head
    %meta{:'http-equiv'=>"Content-Type",:content=>"text/html; charset=utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : t('appname')
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    -unless @hide_nav
      %header.navbar.navbar-fixed-top
        %nav.navbar-inner
          .container
            = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
            &copy; 2012 
            =link_to t('appname'),"http://www#{ENV["DOMAIN"]}"
            =yield :footer
      / ! end of .container
    / ! end of #main
    -#= javascript_include_tag "application"
    ='<script type="text/javascript" src="http://js.tongji.linezing.com/3086576/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/3086576/tongji.gif"/></a></noscript>'.html_safe
